* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@import "./styles/nav";

body {
  background-color: grey;
}
