.sliderContent {
  display: flex;
  flex-direction: column;
  width: 100%;

  .sliderImg {
    width: 100vw;
    height: calc(100vw * 0.96);
    overflow: hidden;
    position: relative;

    picture {
      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s ease-in-out;
      }
      &:nth-child(1) {
        img {
          position: relative;
        }
      }
      &:nth-child(2) {
        img {
          transform: translateX(100%);
        }
      }
      &:nth-child(3) {
        img {
          transform: translateX(100%);
        }
      }
    }

    @include min-width(650px) {
      height: calc(100vw * 0.635);
    }
  }

  .sliderText {
    padding: 50px 25px;
    position: relative;
    width: 100%;

    h2 {
      margin-bottom: 18px;
    }

    p {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 40px;
      line-height: 20px;
    }

    .firstText,
    .secondText,
    .thirdText {
      transition: all 0.5s ease-in-out;
    }

    .firstText {
      opacity: 1;
      position: relative;
      transform: translateX(0);
    }

    .secondText,
    .thirdText {
      opacity: 0;
      top: 0px;
      left: 0px;
      position: absolute;
      transform: translateX(100vw);
    }

    h3 {
      font-weight: 500;
      letter-spacing: 10px;
      font-size: 12px;
      transition: all 0.3s;

      span {
        display: inline-block;
        transform: translateX(25px);
        transition: transform 0.3s ease;
      }

      &:hover {
        color: hsl(0, 0%, 63%);
        cursor: pointer;

        span {
          transform: translateX(50px);
        }
      }
    }

    .slider {
      width: 110px;
      height: 50px;
      background-color: black;
      display: flex;
      position: absolute;
      top: -50px;
      right: 0;

      span {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.2s ease;

        &:hover {
          cursor: pointer;
          background-color: hsl(0, 0%, 27%);
        }
      }
    }

    @include min-width(650px) {
      padding: 50px 50px;
    }
  }
}
.first {
  .sliderText {
    .slider {
      .leftArrow {
        background-color: hsl(0, 0%, 27%);
      }
    }
  }
}

.second {
  .sliderImg {
    picture {
      &:nth-child(2) {
        img {
          transform: translateX(0);
        }
      }
    }
  }
  .sliderText {
    .firstText {
      opacity: 0;
      transform: translateX(-100vw);
    }

    .secondText {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.third {
  .sliderImg {
    picture {
      &:nth-child(2) {
        img {
          transform: translateX(0);
        }
      }
      &:nth-child(3) {
        img {
          transform: translateX(0);
        }
      }
    }
  }
  .sliderText {
    .firstText,
    .secondText {
      opacity: 0;
      transform: translateX(-100vw);
    }

    .thirdText {
      opacity: 1;
      transform: translateX(0);
    }

    .slider {
      .rightArrow {
        background-color: hsl(0, 0%, 27%);
      }
    }
  }
}

@include min-width(1440px) {
  .sliderContent {
    flex-direction: row;

    .sliderImg {
      width: 60%;
      height: calc(60vw * 0.635);
    }

    .sliderText {
      width: 40%;
      padding: 130px 100px;

      h2 {
        font-size: 34px;
        margin-bottom: 25px;
      }

      .slider {
        width: 150px;
        height: 70px;
        bottom: 0;
        left: 0px;
        top: auto;
        right: auto;
      }
    }
  }
}
